.notification{
	background-color: var(--primary);
	padding: 5px 10px;
	width: max-content;
	border-radius: 5px;
	position: fixed;
	right: -100%;
	opacity: 0;
	z-index: 2;
	transition: right 300ms ease, opacity 800ms ease;
	margin-top: 80px;
}

.notification.active{
	right: 10px;
	opacity: 1;
}

@media(min-width: 600px){
	.notification{
		margin-top: 100px;
	}
}